* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(120deg, #8e9efa, #c758dd);
  color: white;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  height: 10vh;
}

.logo a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

.contact-btn {
  background: white;
  color: #6b7aff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-btn:hover {
  background: #e2e8ff;
}

.hero {
  padding: 60px 40px;
  text-align: center;
}

.hero h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 15px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.joke-box {
  border: 1px solid;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.btn-menu {
  width: 30%;
}

.vote-btn {
  width: 100%;
  padding: 60px;
  background: white;
  color: #6b7aff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.vote-btn:hover {
  background: #e2e8ff;

  padding: 30px 30px;
}

.chistes:hover {
  background-image: url("../img/risas.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.gatitos:hover {
  background-image: url("../img/gatitos.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 60px;
}

.pregunta:hover {
  background-image: url("../img/yesno.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.consejo:hover {
  background-image: url("../img/consejos.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 60px;
}

.duda:hover {
  background-image: url("../img/duda.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 60px;
}

.btn-detalle {
  padding: 1.5em;
  width: 50%;
  border: 1px solid;
  border-radius: 25px;
  place-self: center;
}

.again {
  padding: 1.5em;
  width: 50%;
  border: 1px solid;
  border-radius: 25px;
  place-self: center;
  margin-top: 40vh;
}

#yesno-input {
  padding: 1.5em;
  width: 50%;
  border: 1px solid;
  border-radius: 25px;
  place-self: center;
}

#yesno-form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#again {
  display: none;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #007bff;
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.contact-btn:hover {
  color: #fff;
  border-color: #007bff;
}

.contact-btn:hover::before {
  width: 100%;
}

.nada:hover {
  color: transparent;
  background-color: transparent;
}

.mobile {
  display: none;
}

.pala {
  height: 70vh;
}

@media (width <= 760px) {
  .mobile {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    text-align: center;
  }
  .mobile button{
  padding: 2em;
  border-radius: 25px;
  font-size: 1em;

}
  .desktop {
    display: none;
  }
}
